body {
    font-family: monospace;
    width: 100vw;
    height: 100vh;
    margin-top: 0;
    background-image: url(img/DoodleBackground.jpg);
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: auto;
}

.header {
    grid-column: 2 / span 6;
    display: flex;
    justify-content: space-between;
    border: solid 3px skyblue;
    background-color: whitesmoke;
    padding: 20px 30px;
    margin-bottom: 2vh;
    margin-top: 2vh;

    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-right-radius: 110px 19px;
    border-bottom-left-radius: 120px 24px;
}

h1 {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.text {
    width: 25vw;
}

section.CollectionTitle {
    grid-column: 7 / span 1;
    grid-row:2 / auto;
}

.SketchbookName {
    display: block;
    background-color: #EEC997;
    border: solid 3px skyblue;
    margin-bottom: 0;
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-color: #EEC997;
    padding: 5%;
    padding-left: 10%;
}

main {
    grid-column: 2 / span 6;
    grid-row: 3 / auto;
    border-top-left-radius: 37px 140px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;

    display: block;
    background-color: #EEC997;
    border: solid 3px skyblue;
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
    transition: all 0.13s ease-in;
}

main article {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.Year {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

footer {
    grid-column: 2 / span 6;
    grid-row: 4 / auto;
    display: block;
    border: solid 3px skyblue;
    background-color: whitesmoke;
    padding: 20px 30px;
    margin-bottom: 2vh;
    margin-top: 2vh;
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);

    border-top-right-radius: 37px 140px;
    border-top-left-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
}

.splide .splide__slide img {
    max-height: 80vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
